{
    "env": {
        "browser": true
    },
    "extends": [
        "prettier",
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:tailwindcss/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "ecmafeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "rules": {
        "react/prop-types": 0,
        "react/react-in-jsx-scope": 0,
        "react/no-unescaped-entities": ["error", { "forbid": [">", "}"] }],
        "object-curly-spacing": ["error", "always"],
        "linebreak-style": 0,
        "quotes": ["error", "single"],
        "sort-imports": [
            "error",
            {
                "ignoreCase": false,
                "ignoreDeclarationSort": true,
                "ignoreMemberSort": false,
                "allowSeparatedGroups": false
            }
        ]
    },
    "plugins": ["react", "@typescript-eslint", "tailwindcss"]
}
