{
    "trailingComma": "es5",
    "tabWidth": 4,
    "singleQuote": true,
    "semi": false,
    "plugins": ["prettier-plugin-tailwindcss"],
    "bracketSpacing": true,
    "importOrder": ["^components/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
